h2,
h3{
    color:orange;
}
div p{
    color:blueviolet;
    border: 2px solid red;
}
/*pseudo classes*/
li:nth-child(2){
    color:brown;
    font-size:32px;
}
#s::after{
    content:"This File is of BLock and Inline Element."
}
li:nth-child(1){
    color:darkblue;
    font-size:20px;
}